# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.eggs/
*.egg-info/

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb_checkpoints

# Earth Engine credentials
credentials
.config/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
